streamlit
yfinance
pandas
plotly
google-generativeai
pillow
mplfinance
googlenews
numpy==1.26.4
pandas_ta
statistics
matplotlib
tabulate
termcolor
scikit-learn
xgboost
vader-sentiment
vaderSentiment
textblob
requests
python-telegram-bot
flask
markupsafe
investpy
statsmodels
binance-connector
scipy
ta
python-binance
plotly
kaleido
