streamlit
yfinance
pandas
plotly
google-generativeai
pillow
mplfinance
googlenews
numpy
statistics
pandas_ta
matplotlib
tabulate
termcolor
scikit-learn
xgboost
vader-sentiment
textblob
requests
python-telegram-bot
flask
markupsafe
investpy
statsmodels
binance-connector
scipy
