streamlit
yfinance
pandas
plotly
google-generativeai
pillow
mplfinance
googlenews
numpy==2.0.0
pandas_ta==0.3.14b0
statistics
matplotlib
tabulate
termcolor
scikit-learn
xgboost
vader-sentiment
vaderSentiment
textblob
requests
python-telegram-bot
flask
markupsafe
investpy
statsmodels
binance-connector
scipy
